<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
 "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="student1" class="com.app.Student">
		<property name="studentName" value="Ganesh Pawar" />
		<property name="marks" value="90" />
		<property name="grade" value="O" />
		<property name="student" ref="student2" />
	</bean>

	<bean id="student2" class="com.app.Student">
		<property name="studentName" value="Vidya Patil" />
		<property name="marks" value="80" />
		<property name="grade" value="B+" />
	</bean>


</beans>